.graph-chart {
  height: 50vw;
  padding: 20vw 0;
  background-color:#aaa;
}
.graph {
  width: 30vw;
  height: 30vw;
  margin: -10vw 35vw;
  border-radius: 50%;
  background-color:#fff;
}


::-webkit-scrollbar {
    width: 0px;
}
.scroll {
  overflow-x: hidden;
}
.scroll_wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: #eee;
  width: 100%;
}
.scroll_inner {
  display: inline-block;
  white-space: nowrap;
  padding: 0;
}
.box {
  width: 60vw;
  height: 60vw;
  background-color: #fff;
  margin: 10px;
  display:inline-block;
}
.scroll-img {
  width: 60vw;
  height: 45vw;
  background-color: #aaa;
}

#all_request {
  margin-top: 20px;
}

.list_inner {
  height: 20vw;
  width: 100%;
  background-color: #aaa;
  margin-bottom: 20px;
}
