{% extends 'base.html' %}
{% block title %}Enyfar ログイン{% endblock %}
{% load static %}
{% block content %}

<div class="grid-x">
  <div class="cell small-10 small-offset-1">
    <h1 class="text-center">ソーシャル連携</h1>
    <p class="text-center"><a href="{% url 'social:begin' 'google-oauth2' %}?next={% url 'accounts:associate_complete' %}" class="button">Googleと連携</a></p>
    <p class="text-center"><a href="{% url 'social:begin' 'facebook' %}?next={% url 'accounts:associate_complete' %}" class="button">Facebookと連携</a></p>
    <p class="text-center"><a href="{% url 'social:begin' 'twitter' %}?next={% url 'accounts:associate_complete' %}" class="button">Twitterと連携</a></p>
    <p class="text-center"><a href="{% url 'social:begin' 'line' %}?next={% url 'accounts:associate_complete' %}" class="button">LINEと連携</a></p>
    <p class="text-center"><a href="" class="button">Yahooと連携</a></p>
  </div>
</div>
{% endblock %}
