{% extends 'base.html' %}
{% block title %}Enyfar{% endblock %}
{% load static %}
{% block content %}

<section id="top-slide" style="background-color:#eee;">
  <div class="top-slide-item">
    <div class="top-wrapper">
      <div class="top-title">
        <h1 class="text-center">限定商品が明日届く！</h1>
      </div>
    </div>
  </div>
  <div class="top-slide-item">
    <div class="top-wrapper">
      <div class="top-title">
        <h1 class="text-center">限定商品が明日届く！</h1>
      </div>
    </div>
  </div>
  <div class="top-slide-item">
    <div class="top-wrapper">
      <div class="top-title">
        <h1 class="text-center">限定商品が明日届く！</h1>
      </div>
    </div>
  </div>
</section>

{% endblock %}
