{% extends 'base.html' %}
{% block title %}Enyfar{% endblock %}
{% load static %}
{% block content %}

<div class="grid-x">
  <div class="cell small-10 small-offset-1">
    <h1 class="text-center">依頼</h1>
    <div class="grid-x">
      <div class="cell small-4">
        <p>商品名</p>
      </div>
      <div class="cell small-8">
        <p>{{ item.name }}</p>
      </div>
    </div>
    <div class="grid-x">
      <div class="cell small-4">
        <p>国・地域</p>
      </div>
      <div class="cell small-8">
        <p>{{ item.country }}</p>
      </div>
    </div>
    {% if item.district != None %}
    <div class="grid-x">
      <div class="cell small-4">
        <p>都道府県・州</p>
      </div>
      <div class="cell small-8">
        <p>{{ item.district }}</p>
      </div>
    </div>
    {% endif %}
    <form action="" method="post">
      {% csrf_token %}
      <div class="grid-x">
        <div class="cell small-4">
          <p>{{ form.number.label }}</p>
        </div>
        <div class="cell small-8">
          <p>{{ form.number }}</p>
        </div>
      </div>
      <div class="grid-x">
        <div class="cell small-4">
          <p>{{ form.delivered_at_order.label }}（明後日以降）</p>
        </div>
        <div class="cell small-8">
          {% if form.delivered_at_order.errors %}
          <p>{{ form.delivered_at_order.errors }}</p>
          {% endif %}
          <p>{{ form.delivered_at_order }}</p>
        </div>
      </div>
      <p class="text-center"><input type="submit" value="登録" class="button"></p>
    </form>
  </div>
</div>

{% endblock %}
