/* common */
.center-horizontally {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.center-vertically {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.fixed {
  position: fixed;
}
.sticky {
  position: sticky;
  position: -webkit-sticky;
  -moz-position: sticky;
  top: 0px;
}
.display-none {
  display: none !important;
}

/* horizontal scroll */
::-webkit-scrollbar {
    width: 0px;
}
.scroll {
  overflow-x: hidden;
}
.scroll-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
}
.scroll-inner {
  display: inline-block;
  height: 93vw;
  white-space: nowrap;
  padding: 0;
}
.box {
  width: 80vw;
  top: 0px;
  height: calc(100% - 4.5vw - 2px);
  margin: 5vw;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  border: 1px solid #eee;
  box-shadow: 0px 0px 2px;
  border-radius: 4vw;
}
.scroll-img {
  width: calc(80vw - 2px);
  height: 60vw;
  border-bottom: 1px solid #eee;
  border-radius: 4vw 4vw 0 0;
}
.box p {
  margin: .5rem;
}

/* header */
#header {
  width: 100%;
  z-index: 400;
  background-color: #707070;
}
#cross {
  display: none;
}
.fa-bars, .fa-times {
  color: #F25757;
}

/* drawer */
#drawer {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 300;
  background-color: #fff;
}
.drawer-div {
  margin: 0 2rem;
  padding: 1.5rem 0 0.5rem;
  border-bottom: 1px solid #F25757;
}
.drawer-div-first {
  height: 2rem;
}
#dummy {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 200;
  background-color: #fff;
}

/* content */
#content {
  width: 100%;
  z-index: 100;
}

/* footer */
